{% extends 'base.html' %}
{% block title %}News{% endblock %}
{% block content %}
{% for news in newss %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <!-- <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div> -->
    <div class="col-md-8">
      <div class="card-body">
        
        <a href="{{ news.get_absolute_url }}">
          <h5 class="card-title">{{ news.headline }}</h5>
        </a>
        <p class="card-text">{{ news.body|truncatewords:2|linebreaks }}</p>
        <p class="card-text"><small class="text-body-secondary">{{ news.date }}</small></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% include 'pagination.html' with page=newss %}
{% endblock content %}